*{
	font-family: Helvetica;
}
.heading{
	background: lightgray;
	height: 100px;
}
.body{
	overflow: auto;
	clear: both; }
#calendar{
	position: absolute;
	left: 50%;
	/*margin: 0 auto;*/
	margin-left: -490px;//140*7/2 - 6
	border-collapse: collapse;
}
#calendar > tbody > tr > td{
	margin: 0px;
	padding: 0px;
	border: 1px solid grey;
}
.day{
	text-align: left;
	width: 140px;
	height: 140px;
	overflow: hidden;
	padding: 4px;
	vertical-align: top;
	padding: 3px;
	margin: 0px;
}

.today{
	background-color: lightgray !important;
}

.button-group{
	float: left;
	margin-left: 10px;
}
.search-form{
	float: right;
	margin-right: 20px;
}
.search-form input[type="text"]{
	border-radius: 15px;
	box-shadow: none;
	border: solid gray 1px;
	padding-left: 10px;
	padding-top:3px;
}

.popup{
	position: absolute;
	display: none;
	background: white;
	box-shadow: 0px 0px 1.2px gray;
	padding: 10px;
}

.popup-arrow{
	position: absolute;
	border-top: 10px solid white;
	border-right: 10px solid transparent;
	box-shadow: -1px -1px 1.3px gray;
}
.popup-arrow-up{
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
}
.popup-arrow-left{
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
}

.popup-close{
	text-decoration: none;
	color: gray;
	margin: 10px;
	margin-top: 0px;
}

.row {
	clear: both;
	display: block;
	overflow: auto;
}
.left{
	float: left;
}
.right{
	float: right;
}
.col *{
	display: block;
}

fieldset{
	margin: 0px;
	padding: 0px;
	border-width: 0px;
}

#day-popup-desc{
	margin: 0px 10px;
}

#search-results-popup{
	width: 200px;
	display: none;
	margin-left: -100px;
	box-shadow: 0px 0px 5px gray inset;
}
#search-results-popup .popup-arrow-up{
	display: none !important;
}

#search-results-popup > ul{
	list-style: none;
	margin-left: 5px;
	padding-left: 0px;
	max-height: 500px;
	overflow-y: auto;
	overflow-x: hidden;
}
#search-results-popup > ul > li > div{
	border-bottom: 1px solid lightgray;
	margin: auto;
	margin-right: 10px;
}
#search-results-popup > ul > li > div > p {
	margin: 0px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}


#fading{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: transparent;
	box-shadow: -30px 0px 110px white inset;
	clear: both;
	pointer-events: none;
}

.highlighted{
	color: white;
	background-color: #0066ff;
}
.undecor {
	text-decoration: none;
	color: black;
}
.toggle{
}

#day-popup{
	max-width: 300px;
	overflow: visible;
	margin-left: -200px;
	word-wrap: break-word;
}

#day-popup h2,h3{
	margin-bottom: 0px;
	max-width: 250px;
}

#day-popup textarea, #day-popup input[type="text"]{
	width: 270px;
	padding: 5px;
	border-width: 0px;
	border-radius: 5px;
	box-shadow: 0px 0px 3px gray inset;
}
.btn{
	 border-width: 0px;
	 border-radius: 3px;
	 padding: 5px 10px;
}
.btn-primary{
	 background-color: #0033aa;
	 font-weight: bold;
	 color: #ffc;
}

#day-popup .row{
	margin: -10px 0px;
}

#fast-create-popup .popup-arrow{
	margin-left: -110px;
}

.secondary{
	color: gray;
}

.has-event{
	background-color: #44aaff;
}

