
.heading{
	background: lightgray;
	height: 100px;
}
.body{
	margin-left: auto;
	margin-right: auto;
}
#calendar{
	border-collapse: collapse;
}
.day{
	text-align: left;
	border: 1px solid grey;
	padding: 4px;
	width: 100px;
	height: 100px;
	vertical-align: top;
}

.today{
	background-color: lightgray;
}

.button-group{
	float: left;
}
.search-form{
	float: right;
	margin-right: 20px;
}

.popup{
	position: absolute;
	display: none;
	background: white;
	box-shadow: 0px 0px 1.2px gray;
	z-index:1;
}

.popup-arrow{
	position: absolute;
	border-top: 10px solid white;
	border-right: 10px solid transparent;
	box-shadow: -1px -1px 0.6px gray;
	z-index: 2;
}
.popup-arrow-up{
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
}
.popup-arrow-left{
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
}

.popup-close{
	text-decoration: none;
	color: gray;
	margin: 10px;
	margin-top: 0px;
}

.row {
	clear: both;
	display: block;
	margin: 0 0 ;
}
.left{
	float: left;
}
.right{
	float: right;
}
.col *{
	display: block;
}

fieldset{
	border-width: 0px;
}

#day-popup-desc{
	margin: 0px 10px;
}

#search-results-popup{
	width: 150px;
	display: block;
}
#search-results-popup > ul{
	list-style: none;
	margin-left: 5px;
	padding-left: 0px;
}
#search-results-popup > ul > div{
	margin: auto;
}
.highlighted{
	color: white;
	background-color: #0066ff;
}
